{% extends 'base.html' %}
{% load static %}

{% block content %}

  {% include 'sections/_hero.html' %}

  {% include 'sections/_about.html' %}

  {% include 'sections/_stats.html' %}

  {% include 'sections/_services.html' %}

  {% include 'sections/_departments.html' %}

  {% include 'sections/_doctors.html' %}

  {% include 'sections/_faq.html' %}

  {% include 'sections/_testimonials.html' %}

  {% include 'sections/_gallery.html' %}

  {% include 'sections/_contact.html' %}

  {% include 'sections/_appointment.html' %}

{% endblock %}